<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head') %>
        <script>
            const timeMap = {};
        </script>
    </head>
    <body>
        <div class="container">
            <%- include('partials/navbar') %>
            <div class="time">
                <h1>Please select the times that you are available to play</h1>
                <div class="timeContainer">
                    <div
                        class="timeSlot"
                        id="Time0900"
                        onclick="timeOnClick('0900')"
                    >
                        9AM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time0930"
                        onclick="timeOnClick('0930')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1000"
                        onclick="timeOnClick('1000')"
                    >
                        10AM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1030"
                        onclick="timeOnClick('1030')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1100"
                        onclick="timeOnClick('1100')"
                    >
                        11AM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1130"
                        onclick="timeOnClick('1130')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1200"
                        onclick="timeOnClick('1200')"
                    >
                        12PM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1230"
                        onclick="timeOnClick('1230')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1300"
                        onclick="timeOnClick('1300')"
                    >
                        1PM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1330"
                        onclick="timeOnClick('1330')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1400"
                        onclick="timeOnClick('1400')"
                    >
                        2PM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1430"
                        onclick="timeOnClick('1430')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1500"
                        onclick="timeOnClick('1500')"
                    >
                        3PM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1530"
                        onclick="timeOnClick('1530')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1600"
                        onclick="timeOnClick('1600')"
                    >
                        4PM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1630"
                        onclick="timeOnClick('1630')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1700"
                        onclick="timeOnClick('1700')"
                    >
                        5PM
                    </div>
                    <div
                        class="timeSlot"
                        id="Time1730"
                        onclick="timeOnClick('1730')"
                    ></div>
                    <div
                        class="timeSlot"
                        id="Time1800"
                        onclick="timeOnClick('1800')"
                    >
                        6PM
                    </div>
                </div>
                <button onclick="next()">Next</button>
            </div>
            <%- include('partials/footer') %>
        </div>
        <script>
            function timeOnClick(time) {
                const elementId = `Time${time}`;
                const element = document.getElementById(elementId);
                const state = timeMap[elementId];
                if (state !== null && state !== undefined) {
                    if (state) {
                        element.style.background = '#808080';
                    } else {
                        element.style.background = '#56fc03';
                    }
                    timeMap[elementId] = !state;
                } else {
                    element.style.background = '#56fc03';
                    timeMap[elementId] = true;
                }
            }
            function next() {
                const validTimeSlots = [];
                for (const [elementId, state] of Object.entries(timeMap)) {
                    if (state) {
                        validTimeSlots.push(elementId);
                    }
                }
                const validTimeSlotsString = validTimeSlots.join(',');
                window.location = `/course?date=<%= passedDate %>&time=${validTimeSlotsString}`;
            }
        </script>
    </body>
</html>
