.timeSlot {
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 44px;
    height: 25px;
    font-size: 10px;
    border-left: 1px black solid;
    background: #808080;
    border-right: 1px black solid;
    text-align: center;
}

.timeContainer {
    display: flex;
}

.courses {
    list-style: none;
}

.postings {
    list-style: none;
}
